footer {
    font-size: small;
    text-align: center;
    margin-top: 7.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container {
    text-align: center;
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.item-container {
    margin: 2rem auto;
    width: 95%;
    max-width: 72rem;
}

.item-title {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-right: 6px;
}

.item-label {
    margin-top: 4px;
}

.article-container {
    text-align: left;
}

.product-icon {
    margin-right: 8px;
    border-radius: 8px;
    width: 64px;
    height: 64px;
}

@media screen and (max-width: 400px) {
    .product-icon {
        width: 48px;
        height: 48px;
    }
}
